.email-form {
    display: flex;
    justify-content: center;
}

.input-email {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 252px;
    height: 60px;
    font-size: 18px;
    border-radius: 3px 0px 0px 3px;
}

.subscribe-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    width: 126px;
    height: 62px;
    justify-content: center;
    background-color: #92bb65;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    padding-top: 16px;
    border-radius: 0px 3px 3px 0px;
}