.complete-component {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.quote {
  position: absolute;
  width: 45px;
  height: 35px;
}

.right-quote {
  bottom: 60px;
  right: 0px;
}

.left-quote {
  top: 0;
  left: 0;
}

.carousel {
  position: relative;
  width: 450px;
}

.testimonial-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial {
  font-size: 14px;
  line-height: 1.2 !important;
  width: 350px;
  margin-left: 5px;
  overflow-wrap: break-word;
  font-weight: 600;
}

.testimonial-author {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 800;
  color: #92bb65;
}

.carousel__inner-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.testimonial-btn {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  transform: translateY(-50%);
}

.testimonial-back-btn {
  top: 40%;
  left: -5vw;
}

.testimonial-forward-btn {
  top: 40%;
  right: -5vw;
}

.back-icon,
.forward-icon {
  height: 30px;
  width: 17px;
}

.add-testimonial,
.edit-testimonial {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #92bb65;
  box-shadow: 1px 1px 4px 1px #cecece;
  color: #ffffff;
  padding: 3px 15px;
  margin: 0 15px 5px;
}

.add-testimonial:hover,
.edit-testimonial:hover {
  cursor: pointer;
}