/* === TESTIMONIAL CAROUSEL === */

.complete-component {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.quote {
  position: absolute;
  width: 30px;
  height: 25px;
}

.right-quote {
  bottom: 50px;
  right: 0px;
}

.left-quote {
  top: 25px;
  left: 0;
}

.carousel {
  position: relative;
  width: 400px;
}

/* .carousel__dot {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: blue;
}

.carousel__dot--selected {
  background-color: yellow;
} */

.testimonial-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial {
  font-size: 14px;
  line-height: 1.2 !important;
  width: 295px;
  overflow-wrap: break-word;
}

.testimonial-author {
  margin: 10px 0 0 0;
}

.carousel__inner-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  transform: translateY(-50%);
}

.back-btn {
  top: 40%;
  left: -75px;
}

.forward-btn {
  top: 40%;
  right: -75px;
}

.back-icon,
.forward-icon {
  height: 30px;
  width: 17px;
}

.add-testimonial,
.edit-testimonial {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #92bb65;
  color: #ffffff;
  padding: 3px 15px;
  margin: 10px 5px 0;
}

.add-testimonial:hover,
.edit-testimonial:hover {
  cursor: pointer;
}
