.video-wrapper{
    margin-top: 100px;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center; 
}
.video-header {
    position: absolute;
    top: -40px;
    left: 4vw;
    color: #92bb65;
    font-size: 25px;
  }
  
.carousel-complete{
    width: 90vw;
    position: relative;
    flex-direction: column; 
    align-items: center;
    margin-left: -20px;
}

 .video-container{
    padding: 30px;
    padding-right: 5px;
    height: 70%;
}

.video {
    outline: 0;
    height: 100%;
} 

.carousel__slide-focus-ring{
    outline: 0;
}

.c-video{
    margin: 20px;
    height: 100%;
}

.bar{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.7);
}
.btn {
    background-color: transparent;
    outline: none;
    border: none;
    transform: translateY(-50%);
    z-index: 100;
  }

  .video-back-btn{
      top: 57%;
      left: 0px;
  }

  .video-forward-btn{
      top: 57%;
      right: -20px;
  }

  .back-arrow, 
  .forward-arrow{
    height: 30px;
    width: 17px;
  }