.video-wrapper{
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center; 
}

.video-header {
  position: absolute;
  top: -60px;
  left: 4vw;
  color: #92bb65;
  font-size: 27px;
}

.carousel-complete {
  width: 90vw;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: -20px;
}

.video-container {
  top: 0;
  padding-right: 5px;
  height: 70%;
  outline: none;
}

.video {
    outline: 0;
    height: 100%;
    width: 90%;
} 

.carousel__slide-focus-ring{
    outline: 0;
}

.c-video {
  margin: 20px;
  height: 100%;
  outline: 0;
}

/* ==== Carousel Forward and Back Buttons ==== */
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  transform: translateY(-50%);
  z-index: 100;
}

.video-back-btn {
  top: 50%;
  left: -20px;
}

.video-forward-btn {
  top: 50%;
  right: -20px;
}

.back-arrow,
.forward-arrow {
  height: 30px;
  width: 17px;
}
@media only screen and (max-width: 1245px) {
  .carousel-complete {
    width: 900px;
  }

  .video {
    width: 90%;
    height: 244px;
  }

  .video-back-btn,
  .video-forward-btn {
    top: 45%;
  }
}

@media only screen and (max-width: 1020px) {
  .carousel-complete {
    width: 88.24%;
  }

  .video-back-btn,
  .video-forward-btn {
    top: 45%;
  }
}

@media only screen and (max-width: 830px) {
  .carousel-complete {
    width: 60%;
  }
}