.complete-mission-carousel {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
}
.carousel__slider-tray-wrapper {
  width: 1020px;
}

.carousel__slider {
  width: 1020px;
}

.carousel__inner-slide {
  width: 1020px;
}
/* .carousel__inner-slide {
  width: 50vw;
}
.mission-carousel {
  width: 50vw;
}
img {
  width: 50vw;
} */
/* img {
  width: 29vw;
} */
