.social-component {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 213px;
    max-width: 213px;
    height: 70px;
    align-self: baseline;
  }
  
  .social-icons {
    width: 28px;
    height:28px;
    margin-top: 15px;
  }

