/*<Social /> Component> */
.social-component {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 125px;
  height: 60px;
  margin-bottom: 40px;
}

.social-icon {
  width: 28px;
  height: 28px;
  margin-top: 15px;
}
