.create-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea {
  font-size: 48px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 90%;
}

textarea {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-author {
  height: 60px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-image-link {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.submit-button {
  width: 100%;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 100px;
  background-color: #92bb65;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
}
