.complete-testimonial-create-screen {
  font-family: "Open Sans", sans-serif;
}

.create-form {
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.quote-create {
  position: absolute;
  width: 50px;
  height: 40px;
}

.right-quote-create {
  bottom: 190px;
  right: 0px;
}

.left-quote-create {
  top: 25px;
  left: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea {
  font-size: 48px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  width: 80%;
}

textarea {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word !important;
  font-family: "Open Sans", sans-serif;
  resize: none;
}

.input-author {
  height: 60px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Open Sans", sans-serif;
}

.submit-button {
  width: 100%;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 100px;
  background-color: #92bb65;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
}

/* =====  Thank you ======= */
.submit-thankyou-container {
  margin-top: 100px;
}

.submit-thankyou {
  font-size: 64px;
}
