.complete-testimonial-create-screen {
  font-family: "Open Sans", sans-serif;
}

.testimonial-title {
  margin-bottom: -10px;
}

.testimonial-subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 40px;
}

.create-form {
  position: relative;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}

.quote-create {
  position: absolute;
  width: 50px;
  height: 40px;
}

.right-quote-create {
  bottom: 190px;
  right: 0px;
}

.left-quote-create {
  top: 25px;
  left: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 80%;
}

textarea {
  font-size: 24px;
  line-height: 1.2;
  overflow-wrap: break-word !important;
  font-family: "Open Sans", sans-serif;
  resize: none;
}

.input-author {
  height: 30px;
  margin-top: 30px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.submit-button {
  width: 82%;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 100px;
  background-color: #92bb65;
  color: white;
  border: none;
  box-shadow: 2px 2px 10px 2px #cecece;
  cursor: pointer;
  outline: none;
}

.submit-thankyou-container {
  margin-top: 150px;
}

.submit-thankyou {
  font-size: 64px;
}

.submit-thankyou-text {
  text-align: center;
}