/*Outermost layers are padding only*/

/*padding:110px*/
.nav {
  display: flex;
  flex-direction: column;
  padding: 110px;
  max-height: 110px;
  background-color: yellow;
}

/*padding:192px*/
.hero {
  display: flex;
  flex-direction: column;
  padding: 192px;
  max-height: 192px;
  background-color:blue;
}

/*padding:190px*/
.purple-icons-first {
  display: flex;
  flex-direction: column;
  padding: 190px;
  max-height: 190px;
  background-color: purple;
}

/*padding:145px*/
.who-we-help {
  display: flex;
  flex-direction: column;
  padding: 145px;
  max-height: 145px;
  background-color: green;
}

/*padding:275px*/
.carousel-we-exist-to {
  display: flex;
  flex-direction: column;
  padding: 275px;
  max-height: 275px;
  background-color: orange;
}

/*padding:260px*/
.get-involved {
  display: flex;
  flex-direction: column;
  padding: 260px;
  max-height: 260px;
  background-color: purple;
}

/*padding:185px*/
.footer {
  display: flex;
  flex-direction: column;
  padding: 185px;
  max-height: 185px;
  background-color: grey;
}

p {
  font-size: 5px;
  padding: 0px;
  margin: 0px;
  z-index: 2000;
}