/*
/* <Nav /> Component*/
.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 220px;
  max-height: 220px;
  background-color: yellow;
}

.title {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 108px;
  max-height: 108px;
  margin: 93px 0px 0px 0px ;
  background-color: rgb(184, 184, 3);
}

.nav-bar {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: 440px;
  margin-left: 170px;
}

.nav-menu {
  display: flex;
  flex-direction: column-reverse;
  font-size: 17px;
  height: 56px;
  list-style: none;
}

/*
/*<Social /> Component> */
.social-component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 213px;
  max-width: 213px;
  height: 60px;
  margin-bottom: 40px;
  background-color: rgb(210, 210, 210);
}

.social-icon {
  width: 28px;
  height:28px;
  margin-top: 15px;
  background-color:  rgb(184, 184, 3);
}
/**/

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 0px;
  list-style: none;
}

li {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
}

.donate {
  width: 126px;
  height: 60px;
  margin-top: 63px;
  margin-right: 78px;
}
/**/

/*
/* <Hero /> Component*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 384px;
  max-height: 384px;
  background-color: blue;
}

.shadow-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  color: rgb(225,225,225);
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 50px;
  margin-top: 60px;
  margin-right: 760px;
  margin-bottom: 70px;
  margin-left: 250px;
  background-color: rgba(0,0,0,.3);
}
/**/

/*
/* <Homepage /> Section: First Row of Three Purple Icons*/
.purple-icons-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 380px;
  max-height: 380px;
  background-color: purple;
}

/*
/* <Homepage /> Section: Who We Help*/
.who-we-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 290px;
  max-height: 290px;
  color: rgb(255, 255, 255);
  background-color: rgb(148,185,87);
}

.who-we-help-h1{ 
  max-height: 290px;
}

.who-we-help-p {
  height: 290;
  max-height: 290px;
  text-align: justify;
  text-justify: inter-word;
  margin: 0px 320px 50px 270px;
}

/*
/* <Carousel /> We Exist To */
.carousel-we-exist-to {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 550px;
  max-height: 550px;
  background-color: orange;
}

/*
/* Homepage /> Section: Get Involved*/
.get-involved {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 520px;
  max-height: 520px;
  background-color: rgb(255,255,255);
}

/*
/* <Footer /> Component*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 370px;
  max-height: 370px;
  background-color: grey;
}

/*
/* Global*/
* {
  font-family: 'Open Sans', sans-serif;
}

button {
  color: rgb(255,255,255);
  border-radius: 8px; 
  border: none;
  outline: none;
  background-color: rgb(148,185,87);
}

button:hover {
  border-radius: 0px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  
}


/*For wireframing only*/
h1 {
  display: flex;
  justify-content: center;
}