/*
/* <Nav /> Component*/
.nav-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 220px;
  max-height: 220px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 210px;
  height: 108px;
  max-height: 108px;
  margin: 93px 0px 0px 0px ;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 440px;
  margin-left: 170px;
  justify-content: center;
}

.top-nav-bar{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* align-items: ; */
}

.nav-menu {
  display: flex;
  /* flex-direction: column-reverse; */
  font-size: 17px;
  height: 56px;
  list-style: none;
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  flex-flow: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 13px;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 20px;
  
}

.nav-links{
  text-decoration: none;
  color: black
}

.nav-menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 0px;
  list-style: none;
}

/* li {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
} */

.donate {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  width: 126px;
  height: 60px;
  justify-content: center;
  background-color: #92bb65;
  color: white;
  border-radius: 3px;
  box-shadow: none;
  padding-top: 16px;
}

.social-media{
  display: flex;
}
/**/